/* You can add global styles to this file, and also import other style files */

a {
    color: white;
    display: inline-block;
    width: 15vw;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 153, 255);
}